<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1> Customer: <%= @customer_email  %>, Pickup time: <%= @pickup_time  %>   </h1>
<p><% @cart.each do |item| %> </p>
  <p><% item. %> </p>

</body>
</html>

<!--What we need-->
<!--customer email-->
<!--time of the order-->
<!--order details with dish name, ingredient and quantity-->
